.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10; 
    background-color: transparent; 
    padding: 10px 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
    height: 75px
}


.logo {
    font-size: 28px;
    font-weight: 400;
    color: white;
    text-decoration: none;
    opacity: 0.7;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    font-size: 20px;
}

.search-btn, .cart-btn {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: inline-block;
    align-items: center;
    justify-content: center;
    padding: 5px;
    font-weight: 300;
}

.search-btn i, .cart-btn i {
    font-size: 25px; 
    transition: transform 0.2s ease-in-out;
}

.search-btn i:hover, .cart-btn i:hover {
    transform: scale(1.2); 
    color: #f0c040; 
}
