.container-fluid {
    margin-top: 50px;
    padding: 50px 15px;
    background: url('../../../public/assets/background1.jpg');
  }
  
  .card {
    border: 1px solid #dee2e6;
    border-radius: 0.5rem;
    margin-left: 14px;
  }
  
  .card-title {
    font-size: 18px;
    font-weight: 600;
  }
  
  .card-text {
    font-size: 13px;
    color: #6c757d;
  }
  
  /* Slider image adjustments */
  .slider-img {
    margin: 0 auto; 
    max-width: 93%; 
    height: auto;
    display: block;
  }
  
  .slick-slide {
    padding: 5px;
  }

  .line {
    border-top: 1px dotted #ccc;
    margin: 20px 0;
}
.text-muted {
    display: inline-block;
}
  